<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置指定类，让spring创建对象实例-->
    <!--id要小写开头-->
    <bean id="userDao" class="com.mypqh.ioc.UserDaoImpl"/>

    <!-- more bean definitions go here -->
    <bean id="userService" class="com.mypqh.ioc.UserServiceImpl">
        <!--将id为userDao的bean实例注入到userService中-->
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>